<meta name="google-site-verification" content="Zep9Bw80IHLfbUQ2kbK7GANhW-174-LkN7r0tvlHYg8" />
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="title" content="{{ page.title }} - {{ site.name }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='Expires' content='0'>
    <meta http-equiv='Pragma' content='no-cache'>
    <meta http-equiv='Cache-Control' content='no-cache'>
    <meta http-equiv='imagetoolbar' content='no'>

    <meta name="robots" content="index,follow">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/css.css">
    <title>{{ page.title }} {{ site.name }}</title>
  </head>
  <body>
    <br>
    <h1 id='title'>{{ page.title }} {{ site.name }}</h1>
    <hr>
    <center>
      <ul id="nav">
        <li><a href="index.html">Forside</a></li>
        <li><a href="billeder.html">Billeder</a></li>
        <li><a href="danseliste.html">Danseliste</a></li>
        <li><a href="info.html">Info</a></li>
      </ul>
    </center>
    <h2>{{ page.header }}</h2>
    <div id="content">
      {{ content }}
      <br><br>
    </div>
  </body>
</html>
