<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/css.css' }}">
    <title>TITLE - Støvsugerbanden</title>
  </head>
  <body>
    <br>
    <h1>Støvsugerbandens hjemmeside</h1>
    <hr>
    <center>
      <ul id="nav">
        <li><a href="index.php">Forside</a></li>
        <li><a href="stovsugerbanden.php">Støvsugerbanden</a></li>
        <li><a href="billeder.php">Billeder</a></li>
        <li><a href="tilmelding.php">Næste arrangement</a></li>
      </ul>
    </center>
    <h2>HEADER</h2>
    <div id="content">
      {{ content }}
      <br><br>
    </div>
  </body>
</html>
